@use "colors";

.pagination {
    &__container {
        padding: 0 0 2.5vw;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: center;
    }

    &__indicator {
        width: 15px;
        height: 15px;
        background-color: colors.$bg-white-transparent-5;
        border-radius: 20px;

        &--active {
            width: 50px;
        }
    }
}
