@use "colors";

.border {
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow:
        0 0 50px rgb(255 255 255 / 50%),
        0 0 0 3px rgba(255, 255, 255, 0.8) inset;

    &--accent {
        border: none;
        box-shadow:
            0 0 50px rgba(colors.$accent, 0.5),
            0 0 0 3px colors.$accent inset;
    }
}