@use "colors";

.border {
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow:
        0 0 50px rgb(255 255 255 / 50%),
        0 0 0 2px rgba(255, 255, 255, 0.8) inset;

    &--accent {
        border: none;
        box-shadow:
            0 0 50px rgba(colors.$accent, 0.5),
            0 0 0 2px colors.$accent inset;
    }
}

@keyframes fadeInUp {
  from {
    transform: translate(-50%, -50%) translate3d(0, 120px, 0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInUp {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
}

@keyframes fadeOutDown {
  from {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) translate3d(0, 120px, 0);
    opacity: 0;
  }
}

.fadeOutDown {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  opacity: 1;
  animation-name: fadeOutDown;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  opacity: 1;
  animation-name: fadeOut;
}
