// Base colors
$white: #ffffff;
$black: #000000;
$bright-green: #08FF00;
$purple: #cb33fb;
$steel-blue: #8885d3;
$denim-blue: #5fc2ed;

// Brand colors
$primary: #1d2b5d;
$secondary: #ff7f50;
$accent: #b7ff00;

// Muted Brand colors
$primary-muted: #29388e80;

// $primary-muted: #2a4b4d; // or #2a4e51
$secondary-muted: #913412;
$accent-transparent: rgba(183, 255, 0, 0.702);
$accent-transparent-85: rgb(183 255 0 / 85%);

// Backgrounds
$bg-light: #f8f9fa;
$bg-dark: #1f1f1f;
$bg-dark-blue: #061524;
$bg-white-transparent-7: rgba(255, 255, 255, 0.07);
$bg-white-transparent-11: rgba(255, 255, 255, 0.11);
$bg-white-transparent-30: rgba(255, 255, 255, 0.3);
$bg-white-transparent-50: rgba(255, 255, 255, 0.5);
$bg-black-transparent: rgba(0, 0, 0, 0.329);
$bg-black-transparent-70: rgba(0, 0, 0, 0.7);
$blue-transparent: rgba(29, 43, 93, 0.341);

// Text
$text-primary: #212529;
$text-muted: #b5c2cd; //a blue-ish white
$transparent-text-muted: #b6c3cd38;

// Semantic button colors
$button-primary-bg: $primary;
$button-primary-text: $text-primary;

$button-secondary-bg: $secondary;
$button-secondary-text: $text-muted;

// // UI states
// $success: #28a745;
// $warning: #ffc107;
// $error:   #dc3545;
// $info:    #17a2b8;