@use "colors";
@use "icons";
@use "animation";

@mixin sidebar {
    flex: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 7%;
    padding: 15px 35px;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.accent {
    border: 2px solid colors.$accent !important;
}

.pagination {
    &__container {
        padding: 2.5vw 0 2.5vw;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: center;
    }

    &__indicator {
        width: 15px;
        height: 15px;
        background-color: colors.$bg-white-transparent-50;
        border-radius: 20px;

        &--active {
            width: 50px;
        }
    }
}

#browsing-container {
    flex: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#navbar {
    flex: 12%;
    width: 100%;
    height: 50px;
    padding-right: 20px;
    margin: 15px 0 20px;
    box-sizing: border-box;
    border: none;
    display: flex;
    justify-content: center;
}

#webpage {
    flex: 88%;
    width: 100%;
    background: colors.$bg-white-transparent-11;
}

#sidebar {
    @include sidebar;
}

.button {
    color: colors.$white;
    background-color: colors.$primary-muted;
    border-radius: 6px;
    border: none;
    display: flex;
    flex: 1;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;

    &__close {
        flex: 1;
        justify-content: center;
        align-items: center;

        &--flex2 {
            flex: 2;
        }

        &--wide {
            width: 100%;
        }
    }

    &__triangle {
        width: 100%;
        height: 40%;
        padding: 0;

        &--left {
            clip-path: polygon(75% 0%, 0% 50%, 75% 100%);
        }

        &--right {
            clip-path: polygon(25% 0%, 100% 50%, 25% 100%);
        }
    }
}

@mixin pagination-grid($columns: 5) {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

    @if $columns == 5 {
        flex: 4;
        & > * {
            flex: 1 1 calc(20% - 10px);
            max-width: calc(20% - 40px);
        }
    } @else if $columns == 4 {
        flex: 7;
        & > * {
            flex: 1 1 calc(25% - 10px);
            max-width: calc(25% - 40px);
        }
    } @else if $columns == 3 {
        & > * {
            flex: 1 1 calc(33.333% - 10px);
            max-width: calc(33.333% - 40px);
        }
    } @else if $columns == 2 {
        flex: 7;
        & > * {
            flex: 1 1 calc(50% - 10px);
            max-width: calc(50% - 65px);
        }
    }

    & > * {
        box-sizing: border-box;
        height: 60%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$bg-black-transparent-70;
    z-index: 999;
}

.popup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: colors.$primary; // #151d49
    padding: 40px 50px;
    z-index: 1000;
    gap: 20px;
    align-items: center;

    &--deleteAllConfirmation {
        flex-direction: column;
        gap: 50px;
        padding: 50px 70px;
    }

    &--bookmarkAction {
        align-items: stretch;
        gap: 50px;
        padding: 50px 60px;
    }

    &__message {
        font-size: 2rem;
        color: colors.$white;
        width: 100%;
        max-width: 400px;
    }

    &__url {
        font-size: 1.25rem;
        padding-bottom: 20px;
        width: 100%;
        max-width: 500px;
    }

    &__message,
    &__url {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    &__snapshot {
        width: 500px;
        border-radius: 6px;
    }

    &__snapshotContainer {
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        background: colors.$bg-black-transparent;
        padding: 40px 50px;
        border-radius: 15px;
    }

    &__btnsContainer {
        display: flex;
        gap: 20%;

        &--vertical {
            flex-direction: column;
            gap: 14%;
        }
    }

    &__btn {
        padding: 20px 30px;
        font-size: 1.75rem;
        width: 300px;
        height: 125px;
    }
}
