@use "colors";
@use "icons";
@use "animation";

@mixin sidebar {
    flex: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 7%;
    padding: 15px 35px;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.accent {
    border: 2px solid colors.$accent !important;
}

.pagination {
    &__container {
        padding: 0 0 2.5vw;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: center;
    }

    &__indicator {
        width: 15px;
        height: 15px;
        background-color: colors.$bg-white-transparent-50;
        border-radius: 20px;

        &--active {
            width: 50px;
        }
    }
}

#browsing-container {
    flex: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#navbar {
    flex: 12%;
    width: 100%;
    height: 50px;
    padding-right: 20px;
    margin: 15px 0 20px;
    box-sizing: border-box;
    border: none;
    display: flex;
    justify-content: center;
}

#webpage {
    flex: 88%;
    width: 100%;
    background: colors.$bg-white-transparent;
}

#sidebar {
    @include sidebar;
}

.button {
    color: colors.$text-primary;
    background-color: colors.$primary-muted;
    border-radius: 6px;
    border: none;
    display: flex;
    flex: 1;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
