@use "colors";
@use "components";

#sidebar {
    background-color: colors.$bg-dark;
    gap: 5%;
}

#sidebar-buttons {
    @include components.sidebar;
    border-radius: 10px;
    padding: 15px;
    gap: 6%;
    flex: 6;
    background-color: colors.$bg-white-transparent-7;
    color: colors.$text-muted;
    font-size: 2rem;
    text-align: center;
}

#browsing-container {
    align-items: normal;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 2px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #10468b;
      border-radius: 2px;
    }
}

.aboutCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.25rem 2.75rem;
    margin: 1rem 0;
    border-radius: 15px;
    background-color: #e9eaf1;
    gap: 5px;

    #boggleLogo {
        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            gap: 15px;
        }

        &-logo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 0;
        }
    }

    h3 {
        margin: 0;
        font-size: 1.9rem;
        color: #0e315d;
    }

    h4 {
        margin-top: 8px;
        font-size: 1.3rem;
        color: #0e315d;
    }

    p {
        margin: 1rem 0;
        font-size: 1.4rem;
        color: #0e315d;
        line-height: 35px;
    }
}
