@use "colors";
@use "components";

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

h3,
h4 {
    font-weight: normal;
}

#sidebar {
    background-color: colors.$bg-dark;
    gap: 5%;
}

#sidebar-buttons {
    @include components.sidebar;
    border-radius: 10px;
    padding: 15px;
    gap: 6%;
    flex: 6;
    background-color: colors.$bg-white-transparent-7;
    color: colors.$text-muted;
    font-size: 2rem;
    text-align: center;
}

#browsing-container {
    background-color: colors.$bg-dark;
    align-items: normal;
    overflow-y: scroll;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 2px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #10468b;
        border-radius: 2px;
    }

    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    #boggleLogo {
        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            gap: 2rem;
        }

        &-logo {
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 50%;
            margin: 0;
        }

        &-text {
            gap: 0.75rem;
            display: flex;
            flex-direction: column;

            img {
                width: 15rem;
            }

            h4 {
                margin: 0;
                font-size: 1.5rem;
            }
        }
    }

    .linkButtonsContainer {
        justify-items: center;
        width: 100%;
        margin-top: 1rem;

        .linkButton {
            padding: 30px;
            border-radius: 15px;
            text-align: center;
            font-size: 1.5rem;
            line-height: 35px;
            max-width: 50%;
        }

        &_grid {
            width: -webkit-fill-available;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;

            .linkButton {
                padding: 30px;
                border-radius: 15px;
                text-align: center;
                font-size: 1.5rem;
                line-height: 35px;
                background-color: colors.$bg-white-transparent-7;
            }
        }
    }
}