@use "colors";
@use "icons";
@use "animation";
@use "components";

body {
    background-color: colors.$bg-dark-blue;
    color: white;
}

.bookmarks {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    &__header {
        align-self: center;
        margin: 0;
        padding-bottom: 40px;
    }

    &__footer {
        display: flex;
        gap: 2vw;
    }

    &__container {
        @include components.pagination-grid(2); // 2 columns

        & > * {
            height: 40%;
        }
    }

    &__bookmarksAndArrowsContainer {
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
    }
}
