@use "colors";

html,
body {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: "Roboto", sans-serif;
}

.overlay-backdrop {
  position: fixed;
  inset: 0;
  background: colors.$bg-black-transparent-80;
}

.overlay-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(600px, 90%);
  background: #202020;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #3a3a3a;

  h2 {
    margin: 0 0 8px;
    font-size: 1.5rem;
  }

  p {
    margin: 1rem 0 1.5rem 0;
    line-height: 1.6rem;
  }

  span {
    font-size: 14px;
  }

  #cred-note {
    margin: 0;
    text-align: end;
    font-size: 0.85rem;
    color: #8a8a8a;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  margin: 12px 0;

  label {
    font-size: 14px;
    color: #ddd;
  }

  input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #3a3a3a;
    background: #1b1b1b;
    color: #fff;

    &.input--error {
      border-color: colors.$secondary-muted;
    }
  }
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid #3a3a3a;
    background: #232323;
    color: #fff;
    cursor: pointer;

    &.btn-primary {
      background: colors.$primary;
      border: none;

      &:hover {
        background: colors.$primary-bright;
      }
    }

    &:hover {
      background: #2b2b2b;
    }
  }
}

.input-error {
  color: colors.$secondary-muted;
  font-size: 12px;
  margin-bottom: 4px;
  min-height: 16px;
  text-align: end;
}
