@use "colors";
@use "icons";
@use "animation";

body {
    background-color: colors.$bg-dark-blue;
}

.keyboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    &__row {
        display: flex;
        width: 100%;
        gap: 20px;

        &--first {
            flex: 0.5;
        }
    }

    &__textarea {
        position: relative;
        flex: 4 1 0%;
    }

    &__key {
        color: colors.$white;
        height: 9.5vh;
        flex-grow: 1;
        border-radius: 4px;
        border: none;
        font-size: 1.8rem;
        outline: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        padding: 0;
        position: relative;
        -webkit-tap-highlight-color: transparent;

        &--vertical {
            height: min-content;
            width: 100%;
        }

        &--large {
            border-radius: 6px;
            font-size: 4.5rem;
        }

        &--wide {
            flex: 2;
        }

        &--activatable::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 10px;
            width: 10px;
            height: 10px;
            background: colors.$white;
            border-radius: 50%;
        }

        &--active::after {
            background: colors.$bright-green;
        }
    }
}

.textarea {
    &__input {
        position: relative;
        height: 100%;
        border-radius: 6px;
        background: #f8f9fa;
        width: 100%;
        resize: none;
        font-size: 40px;
        font-family: monospace;
        z-index: 1;
        border: none;
    }

    &__autocomplete {
        position: absolute;
        color: gray;
        white-space: pre-wrap;
        font: inherit;
        font-size: 40px;
        font-family: monospace;
        padding: 2px;
        border: none;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: 2;
    }
}

.keyboard__keysContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    padding-bottom: 3vw;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex: 4;

    & > * {
        flex: 1 1 calc(20% - 10px); // 20% width for 5 items per row, minus the gap
        max-width: calc(20% - 40px);
        box-sizing: border-box;
        height: 60%;
    }

    &--doubleRow {
        & > * {
            height: 40%;
        }
    }

    &--fourColumns {
        flex: 7;

        & > * {
            flex: 1 1 calc(25% - 10px); // 25% width for 4 items per row, minus the gap
            max-width: calc(25% - 40px);
        }
    }

    &--threeColumns {
        flex: 7;

        & > * {
            flex: 1 1 calc(33.333% - 10px); // 33.333% width for 3 items per row, minus the gap
            max-width: calc(33.333% - 40px);
        }
    }
}

.keyboard__keysAndArrowsContainer {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

.arrow-keys__row {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 6px;
}

button {
    flex: 1;
    display: flex;
    border: none;
    border-radius: 6px;
    background-color: colors.$bg-black-transparent;
    color: colors.$white;
    padding: 7px;
}

.button {
    &__triangle {
        width: 100%;
        height: 40%;
        padding: 0;

        &--left {
            clip-path: polygon(75% 0%, 0% 50%, 75% 100%);
        }

        &--right {
            clip-path: polygon(25% 0%, 100% 50%, 25% 100%);
        }
    }

    &__close {
        flex: 1;
        justify-content: center;
        align-items: center;

        &--wide {
            width: 100%;
        }
    }

    &__numbers {
        flex-grow: 2.65;
    }

    &__space {
        flex: 2.5;
    }

    &__arrow-keys {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1.3;
        border: none;
        border-radius: 5px;
        padding: 7px;
        margin: 0;
        height: unset;
    }

    &--three-keys {
        flex-grow: 1.5;
    }

    &--four-keys {
        flex-grow: 2;
    }
}
