@use "colors";
@use "icons";

body {
    background-color: colors.$bg-dark-blue;
}

#keyboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

#textarea {
    flex: 4 1 0%;
    border-radius: 6px;
    background: colors.$bg-light;
    width: 669px;
    resize: none;
    font-size: 40px;
}

.keyboard__key {
    color: colors.$white;
    height: 9.5vh;
    flex-grow: 1;
    border-radius: 4px;
    border: none;
    font-size: 1.8rem;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;

    &--vertical {
        height: min-content;
        width: 100%;
    }

    &--large {
        border-radius: 6px;;
        font-size: 4.5rem;
    }

    &--wide {
        flex: 2;
    }
}

.keyboard__keysContainer {    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex: 6;

    & > * {
        flex: 1 1 calc(20% - 10px); // 20% width for 5 items per row, minus the gap
        max-width: calc(20% - 40px);
        box-sizing: border-box;
        height: 40%;
    }
}

.row {
    display: flex;
    width: 100%;
    gap: 20px;

    &--first {
        flex: 0.5;
    }
}

.arrow-keys__row {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 6px;
}

button {
    flex: 1;
    display: flex;
    border: none;
    border-radius: 6px;
    background-color: colors.$bg-black-transparent;
    color: colors.$white;
    padding: 7px;
}

.button {
    &__close {
        flex: 1;
        justify-content: center;
        align-items: center;

        &--wide {
            width: 100%;
        }
    }

    &__numbers {
        flex-grow: 2.65;
    }

    &__space {
        flex: 2.5;
    }

    &__arrow-keys {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1.3;
        border: none;
        border-radius: 5px;
        padding: 7px;
        margin: 0;
        height: unset;
    }

    &--three-keys {
        flex-grow: 1.5;
    }

    &--four-keys {
        flex-grow: 2;
    }
}
