@use "colors";
@use "icons";
@use "animation";
@use "components";

body {
    background-color: colors.$bg-dark-blue;
    columns: colors.$text-muted;
}

.keyboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    &__columnContainer {
        display: flex;
        flex-direction: row;
        gap: 4vw;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 4vh;
        width: 100%;

        &--left {
            flex: 1;
            justify-content: center;
            padding: 0;
        }
        &--middle {
            flex: 3;
        }
        &--right {
            flex: 1;
        }
    }

    &__row {
        display: flex;
        width: 100%;
        gap: 20px;

        &--first {
            flex: 0.5;
        }

        &--largeGap {
            gap: 4vh;
        }
    }

    &__textarea {
        position: relative;
        flex: 4 1 0%;
    }

    &__key {
        color: colors.$white;
        height: 9.5vh;
        flex-grow: 1;
        border-radius: 4px;
        font-size: 1.8rem;
        outline: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        padding: 0;
        position: relative;
        -webkit-tap-highlight-color: transparent;

        &--vertical {
            height: min-content;
            width: 100%;
        }

        &--large {
            border-radius: 6px;
            font-size: 4.5rem;
        }

        &--wide {
            flex: 2;
        }

        &--center {
            height: 100%;
        }

        &--activatable::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 10px;
            width: 10px;
            height: 10px;
            background: colors.$white;
            border-radius: 50%;
        }

        &--active::after {
            background: colors.$bright-green;
        }
    }
}

.textarea {
    flex: 4 1 0%;
    border-radius: 6px;
    background: colors.$bg-light;
    width: 669px;
    resize: none;
    font-size: 40px;

    &--numeric {
        text-align: center;

        &[type="date"]::-webkit-calendar-picker-indicator,
        &[type="datetime-local"]::-webkit-calendar-picker-indicator,
        &[type="month"]::-webkit-calendar-picker-indicator,
        &[type="week"]::-webkit-calendar-picker-indicator,
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button,
        &[type="time"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.keyboard__keysContainer {
    @include components.pagination-grid(5);

    &--fourColumns {
        @include components.pagination-grid(4);
    }

    &--threeColumns {
        @include components.pagination-grid(3);
    }

    &--doubleRow {
        & > * {
            height: 40%;
        }
    }
}

.keyboard__keysAndArrowsContainer {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

.arrow-keys__row {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 6px;
}

button {
    color: colors.$white;
    flex: 1;
    display: flex;
    border: none;
    border-radius: 6px;
    background-color: colors.$primary-muted;
    padding: 7px;
}

.button {
    &__numbers {
        flex-grow: 2.65;
    }

    &__space {
        flex: 2.5;
    }

    &__arrow-keys {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1.3;
        border: none;
        border-radius: 5px;
        padding: 7px;
        margin: 0;
        height: unset;
    }

    &--three-keys {
        flex-grow: 1.5;
    }

    &--four-keys {
        flex-grow: 2;
    }

    &--numeric {
        padding: 10px;
    }
}
