@use "colors";
@use "icons";
@use "animation";
@use "components";

body {
    background-color: colors.$bg-dark-blue;
    columns: colors.$text-muted;
}

.keyboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;

    &__row {
        display: flex;
        width: 100%;
        gap: 20px;

        &--first {
            flex: 0.5;
        }
    }

    &__textarea {
        position: relative;
        flex: 4 1 0%;
    }

    &__key {
        color: colors.$white;
        height: 9.5vh;
        flex-grow: 1;
        border-radius: 4px;
        font-size: 1.8rem;
        outline: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: top;
        padding: 0;
        position: relative;
        -webkit-tap-highlight-color: transparent;

        &--vertical {
            height: min-content;
            width: 100%;
        }

        &--large {
            border-radius: 6px;
            font-size: 4.5rem;
        }

        &--wide {
            flex: 2;
        }

        &--activatable::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 10px;
            width: 10px;
            height: 10px;
            background: colors.$white;
            border-radius: 50%;
        }

        &--active::after {
            background: colors.$bright-green;
        }
    }
}

.textarea {
    &__input {
        position: relative;
        height: 100%;
        border-radius: 6px;
        background: #f8f9fa;
        width: 100%;
        resize: none;
        font-size: 40px;
        font-family: monospace;
        z-index: 1;
        border: none;
        padding: 2px; // crucial to match with autocomplete
        line-height: 1.2; // make sure this matches in both
        overflow: hidden;
        color: transparent;
        caret-color: colors.$black; // makes the caret visible
    }

    &__autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        color: colors.$black;
        font-size: 40px;
        font-family: monospace;
        white-space: pre-wrap;
        word-break: break-word;
        padding: 2px;
        max-height: 100%;
        width: 100%;
        line-height: 1.2;
        pointer-events: none;
        z-index: 2;
        background: transparent;
    }

    &__autocomplete span {
        color: #aaa;
    }
}

.keyboard__keysContainer {
    @include components.pagination-grid(5);

    &--fourColumns {
        @include components.pagination-grid(4);
    }

    &--threeColumns {
        @include components.pagination-grid(3);
    }

    &--doubleRow {
        & > * {
            height: 40%;
        }
    }
}

.keyboard__keysAndArrowsContainer {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

.arrow-keys__row {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 6px;
}

button {
    color: colors.$white;
    flex: 1;
    display: flex;
    border: none;
    border-radius: 6px;
    background-color: colors.$primary-muted;
    padding: 7px;
}

.button {
    &__numbers {
        flex-grow: 2.65;
    }

    &__space {
        flex: 2.5;
    }

    &__arrow-keys {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1.3;
        border: none;
        border-radius: 5px;
        padding: 7px;
        margin: 0;
        height: unset;
    }

    &--three-keys {
        flex-grow: 1.5;
    }

    &--four-keys {
        flex-grow: 2;
    }
}
