@use "colors";
@use "icons";
@use "animation";
@use "components";

// * {
//     cursor: none !important;
//   }

body {
    height: 100%;
    display: block;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.image__splash {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#browser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: colors.$bg-dark;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#urlHolder {
    flex: 3;
    display: flex;
    padding: 23px;
    justify-content: flex-start;
    border-radius: 6px;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    border: 2px solid colors.$transparent-text-muted;
}

#omnibox {
    padding: 23px;
    font-size: x-large;
    background: transparent;
    border: none;
    width: 100%;
    color: colors.$text-muted;
}

#sidebar .button {
    color: colors.$white;
}

.button {
    font-size: 25px;
    color: colors.$text-muted;
}

#favicon {    
    color: colors.$muted-green;
}
