@use "colors";
@use "icons";
@use "animation";
@use "components";

// * {
//     cursor: none !important;
//   }

body {
    min-height: 100vh;
    display: block;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

body.splash-page {
    overflow: hidden;
    height: 100vh;
}

.image__splash {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

body#browser {
    background-color: colors.$bg-dark;
}

body#browser:not(.has-status-bar) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body.has-status-bar#browser .status-bar__content--browser {
    min-height: calc(100vh - var(--status-bar-height));
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#searchBtn {
    flex: 3;
    display: flex;
    padding: 23px;
    justify-content: flex-start;
    border-radius: 6px;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    // border: 2px solid colors.$transparent-text-muted;
    gap: 0px;
}

#omnibox {
    padding: 23px;
    font-size: x-large;
    background: transparent;
    border: none;
    width: 100%;
    color: colors.$white;
    text-shadow: 3px 2px 3px black;
}

.button {
    font-size: 25px;
}

.favicon {
    color: colors.$bright-green;

    &--error {
        color: colors.$secondary-muted;
    }
}

#brainLoader {
    width: 50%;
    height: 50%;
}

#loaderContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}