@use "colors";
@use "icons";
@use "animation";

// * {
//     cursor: none !important;
//   }

body {
    height: 100%;
    display: block;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.image__splash {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#browser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: colors.$bg-dark;
}

#browsing-container {
    flex: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    #navbar {
        flex: 12%;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50px;
        gap: 20px;
        padding-right: 20px;
        margin: 15px 0 20px;
        box-sizing: border-box;
        justify-content: space-around;

        #urlHolder {
            flex: 3;
            display: flex;
            background: colors.$bg-white-transparent;
            padding: 23px;
            justify-content: flex-start;
            border-radius: 6px;
            height: 100%;
            box-sizing: border-box;
            align-items: center;

            #url {
                padding: 23px;
                font-size: x-large;
                background: transparent;
                border: none;
            }
        }
    }

    #webpage {
        flex: 88%;
        width: 100%;
        background: colors.$bg-white-transparent;
    }
}

#sidebar {
    flex: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 7%;
    padding: 15px 35px;
    box-sizing: border-box;
    justify-content: space-evenly;
}

button {
    flex: 1;
    color: colors.$text-primary;
    font-size: 25px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    background-color: colors.$primary-muted;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
