@use "colors";
@use "icons";
@use "animation";
@use "components";

body {
    background-color: colors.$bg-dark;
}

#moreOptions {
    display: grid;
    gap: 3vw;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "tabs bookmarks refresh"
        "zoomIn zoomOut zoomReset"
        "settings about exit"
        "close close close";

    #tabsBtn {
        grid-area: tabs;
    }

    #bookmarksBtn {
        grid-area: bookmarks;
    }

    #refreshBtn {
        grid-area: refresh;
    }

    #zoomInBtn {
        grid-area: zoomIn;
    }

    #zoomOutBtn {
        grid-area: zoomOut;
    }

    #zoomResetBtn {
        grid-area: zoomReset;
    }

    #settingsBtn {
        grid-area: settings;
    }

    #aboutBtn {
        grid-area: about;
    }

    #exitBtn {
        grid-area: exit;
    }

    #closeMoreBtn {
        grid-area: close;

        i {
            margin: -20px;
        }
    }
}

button {
    color: colors.$text-primary;
    font-size: 32px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    background-color: colors.$primary-muted;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}