@use "colors";
@use "icons";
@use "animation";
@use "components";

body {
    height: 100%;
    display: block;
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
}

.grid {
    &__container {
        display: grid;
    }

    &__region {
        border: 2px solid colors.$primary-muted;
    }

    &__label {
        padding: 5px 10px;
        color: colors.$text-primary;
        font-size: 2.5rem;
        background-color: colors.$primary-muted;
        width: min-content;
    }
}