@use "colors";
@use "icons";
@use "animation";
@use "components";

body {
    height: 100%;
    display: block;
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
}