@use "colors";
@use "components";

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

#settingsOverlay {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    box-sizing: border-box;

    h1 {
        align-self: center;
        margin-bottom: 0;
    }
}

#settingsSelection {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3vw;
    width: 100%;
    height: 100%;

    button {
        width: 100%;
        font-size: 32px;
    }

    button:nth-child(3) {
        grid-column: 1 / -1;
        justify-self: center;
        max-width: calc(50% - 10px);
    }
}

#generalSettings,
#stimuliSettings {
    display: none;
}

.settingsContent {
    flex: 3;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.settingCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.25rem 2.75rem;
    margin: 1rem 0;
    border-radius: 15px;
    background-color: colors.$bg-white-transparent-7;
    gap: 5px;

    h3 {
        margin: 0;
        font-size: 1.9rem;
        color: colors.$white;
        flex: 1;
    }

    h4 {
        margin-top: 8px;
        font-size: 1.3rem;
        color: colors.$white;
    }

    p {
        margin: 1rem 0;
        font-size: 1.4rem;
        // color: #ffffffa3;
        color: colors.$text-muted;
        line-height: 35px;
    }
}