@use "colors";
@use "components";

@media (max-height: 729px) {
    html {
        font-size: 12px;
    }
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

h3,
h4 {
    font-weight: normal;
}

#settingsOverlay {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;

    h1 {
        align-self: center;
        margin-bottom: 0;
    }
}

#buttonsContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3vw;
    width: 100%;
    height: 100%;

    button {
        width: 100%;
        font-size: 32px;
    }
}

#generalSettings,
#headsetSettings,
#stimuliSettings {
    display: none;
}

#generalSettings, 
#headsetSettings, 
#settingsSelection {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 100%;
}

#stimuliSettings {
    .settingCard {
        padding: 2.15rem 2.15rem;
    }
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 100%;
}

.settingsContent {
    flex: 3;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.settingCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.25rem 2.75rem;
    margin: 1rem 0;
    border-radius: 15px;
    background-color: colors.$bg-white-transparent-7;
    gap: 5px;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h3 {
        margin: 0;
        font-size: 1.9rem;
        color: colors.$white;
        line-height: 30px;
    }

    .button {
        font-size: 1.5rem;
        flex: unset;
        height: 50%;
        min-height: 10%;
        padding: 20px;
        line-height: 2rem;
        position: relative;
        
        &--activatable::after {
            content: "";
            position: absolute;
            top: 20px;
            right: 20px;
            width: 20px;
            height: 20px;
            background: colors.$white;
            border-radius: 50%;
        }

        &--active::after {
            background: colors.$bright-green;
        }
    }
}

p:not(.disclaimerText) {
    margin: 1rem 0;
    font-size: 1.4rem;
    color: colors.$text-muted;
    line-height: 30px;
}

.disclaimerText {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: colors.$secondary-muted;
    margin: 0;
    text-align: center;
}

.asterisk {
    color: colors.$secondary-muted;
}

.headsetDesc, .connectionTypeDesc, .keyboardLayoutDesc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: colors.$text-muted;
}

.connectionTypeDesc, .keyboardLayoutDesc {
    font-size: 1.3rem;
}

.headsetCard, .connectionTypeCard, .keyboardLayoutCard, .patternCard, .colorCard {
    background-color: colors.$bg-black-transparent-25;
    border-radius: 20px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
}

// ---------------
//     Images
// ---------------

.headsetImage {
    height: 45%;
    width: 75%;
    background-color: colors.$primary;
    padding: 34px;
    border-radius: 12px;
}

.patternPreviewImage, .colorPreview {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.keyboardLayoutImage {
    height: 45%;
    width: 100%;
    background-color: colors.$primary;
    border-radius: 12px;
}
