@use "colors";
@use "components";

@media (max-height: 729px) {
    html {
        font-size: 12px;
    }
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

h3,
h4 {
    font-weight: normal;
}

#settingsOverlay {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    box-sizing: border-box;

    h1 {
        align-self: center;
        margin-bottom: 0;
    }
}

#settingsSelection {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3vw;
    width: 100%;
    height: 100%;

    button {
        width: 100%;
        font-size: 32px;
    }

    button:nth-child(3) {
        grid-column: 1 / -1;
        justify-self: center;
        max-width: calc(50% - 10px);
    }
}

#generalSettings,
#stimuliSettings {
    display: none;
}

#generalSettings {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 100%;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 90%;
}

.settingsContent {
    flex: 3;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.settingCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.25rem 2.75rem;
    margin: 1rem 0;
    border-radius: 15px;
    background-color: colors.$bg-white-transparent-7;
    gap: 5px;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h3 {
        margin: 0;
        font-size: 1.9rem;
        color: colors.$white;
    }

    .button {
        font-size: 1.5rem;
        flex: unset;
        height: 50%;
        min-height: 10%;
        padding: 20px;
        line-height: 2rem;
    }
}

p:not(.disclaimerText) {
    margin: 1rem 0;
    font-size: 1.4rem;
    color: colors.$text-muted;
    line-height: 35px;
}

.disclaimerText {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: colors.$secondary-muted;
    margin: 0;
    text-align: center;
}

.asterisk {
    color: colors.$secondary-muted;
}
