@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url("../../../resources/icons/MaterialSymbolsRounded-Regular.ttf") format("truetype");
}
.material-icons, .material-icons--xl, .material-icons--l, .material-icons--m, .material-icons--sm, .material-icons--s, .material-icons--xs, .material-icons--xxs {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 2.3rem;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.material-icons--xxs {
  font-size: 1.5rem;
}
.material-icons--xs {
  font-size: 1.7rem;
}
.material-icons--s {
  font-size: 2rem;
}
.material-icons--sm {
  font-size: 3rem;
}
.material-icons--m {
  font-size: 4.3rem;
}
.material-icons--l {
  font-size: 6rem;
}
.material-icons--xl {
  font-size: 8rem;
}

.border {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5), 0 0 0 3px rgba(255, 255, 255, 0.8) inset;
}
.border--accent {
  border: none;
  box-shadow: 0 0 50px rgba(183, 255, 0, 0.5), 0 0 0 3px #b7ff00 inset;
}

.accent {
  border: 2px solid #b7ff00 !important;
}

.pagination__container {
  padding: 2.5vw 0 2.5vw;
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: center;
}
.pagination__indicator {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.pagination__indicator--active {
  width: 50px;
}

#browsing-container {
  flex: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#navbar {
  flex: 12%;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  margin: 15px 0 20px;
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: center;
}

#webpage {
  flex: 88%;
  width: 100%;
  background: rgba(255, 255, 255, 0.11);
}

#sidebar {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 7%;
  padding: 15px 35px;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.button {
  color: #ffffff;
  background-color: rgba(41, 56, 142, 0.5019607843);
  border-radius: 6px;
  border: none;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.button__close {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.button__close--flex2 {
  flex: 2;
}
.button__close--wide {
  width: 100%;
}
.button__triangle {
  width: 100%;
  height: 40%;
  padding: 0;
}
.button__triangle--left {
  clip-path: polygon(75% 0%, 0% 50%, 75% 100%);
}
.button__triangle--right {
  clip-path: polygon(25% 0%, 100% 50%, 25% 100%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1d2b5d;
  padding: 40px 50px;
  z-index: 1000;
  gap: 20px;
  align-items: center;
}
.popup__message {
  font-size: 2rem;
  color: #ffffff;
}

body {
  background-color: #1f1f1f;
}

#moreOptions {
  display: grid;
  gap: 3vw;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "tabs bookmarks refresh" "zoomIn zoomOut zoomReset" "settings about exit" "close close close";
}
#moreOptions #tabsBtn {
  grid-area: tabs;
}
#moreOptions #bookmarksBtn {
  grid-area: bookmarks;
}
#moreOptions #refreshBtn {
  grid-area: refresh;
}
#moreOptions #zoomInBtn {
  grid-area: zoomIn;
}
#moreOptions #zoomOutBtn {
  grid-area: zoomOut;
}
#moreOptions #zoomResetBtn {
  grid-area: zoomReset;
}
#moreOptions #settingsBtn {
  grid-area: settings;
}
#moreOptions #aboutBtn {
  grid-area: about;
}
#moreOptions #exitBtn {
  grid-area: exit;
}
#moreOptions #closeMoreBtn {
  grid-area: close;
}
#moreOptions #closeMoreBtn i {
  margin: -20px;
}

.button {
  font-size: 32px;
}

/*# sourceMappingURL=more.css.map */
